<!DOCTYPE html>
<html>
<head>
  <title>Auth FAILED | simple captive portal</title>
</head>
<body>
<h1>simple captive portal <%= request.host %></h1>
<h3>AUTH FAILED your ip: <%= request.ip %></h3>
</body>
</html>
