<!DOCTYPE html>
<html>
<head>
  <title>Auth PASSED | simple capitive portal</title>
</head>
<body>
<h1>simple captive portal <%= request.host %></h1>
<h3>AUTH PASSED your ip: <%= request.ip %></h3>
</body>
</html>
